<div class="row">
  <div class="columns large-12 large-centered text-center">
    <h3 class="heading3">
      <%= t(".vote_casted") %>
    </h3>
    <div class="evote__content">
      <p>
        <%= t(".vote_receipt") %>
        <strong class="evote__poll-id"><%= @vote.receipt %></strong>
      </p>
      <p><strong><%= t(".save_receipt_information") %></strong></p>
      <input type="hidden" name="vote-receipt" id="vote-receipt" value="<%= @vote.receipt %>" />
      <button data-download-for="vote-receipt" data-download-as="rebut_vot.txt" class="button expanded download-receipt" id="download-receipt"><%= t(".download_receipt") %></button>
      <p>
        <%= t(".verify_vote") %>
        <%= link_to t(".verify_vote_link"), verify_path %>.
      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $("#download-receipt").on("click", function(event) {
      event.preventDefault()
      let $button = $(event.target)
      let fileName = $button.data("download-as")
      let target = $(`#${$button.data("download-for")}`)
      let content = target.val()

      saveTextAs(content, fileName)
    })
  });
</script>
