<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
        <p>
        <%= t(".subtitle") %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-centered">
        <form>
          <div class="card">
            <div class="card__content">
              <div class="field">
                <label for="quorum"><%= t(".quorum") %></label>
                <input id="quorum" type="number" value="5" min="2" max="7" name="quorum"></textarea>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <div class="actions">
                <button id="key-generation" class="button expanded"><%= t(".generate_key_pair") %></button>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <div class="field">
                <label for="encrypt-key"><%= t(".encrypt_key") %></label>
                <textarea id="encrypt-key" rows="5"></textarea>
                <button data-download-for="encrypt-key" data-download-as="clau-publica" class="button expanded download-key">Descarregar</button>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <% (1..7).to_a.each do |index| %>
                <div class="field">
                  <label for="tally-key-part-<%= index %>">Part <%= index %></label>
                  <textarea class="tally-key-part" id="tally-key-part-<%= index %>" rows="5"></textarea>
                  <button data-download-for="tally-key-part-<%= index %>" data-download-as="clau-privada-part-<%= index %>" class="button expanded download-key">Descarregar</button>
                </div>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-centered">
        <form id="encrypt-decrypt">
          <div class="card">
            <div class="card__content">
              <div class="field">
                <label for="encrypt-content"><%= t(".encrypt_content") %></label>
                <textarea id="encrypt-content" rows="5"></textarea>
              </div>
              <div class="field">
                <label for="decrypt-content"><%= t(".decrypt_content") %></label>
                <textarea id="decrypt-content" rows="5"></textarea>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <div class="actions">
                <button id="encrypt" class="button expanded"><%= t(".encrypt") %></button>
                <button id="decrypt" class="button expanded"><%= t(".decrypt") %></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/unibabel.js" %>
<%= javascript_include_tag "decidim/secrets.js" %>
<%= javascript_include_tag "decidim/keys.js" %>
<%= javascript_include_tag "decidim/FileSaver.js" %>
