<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
        <p>
        <%= t(".subtitle") %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-centered">
        <%= render partial: "private_key_parts", locals: {download: false} %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-centered">
        <form id="encrypt-decrypt">
          <div class="card">
            <div class="card__content">
              <div class="field">
                <label for="decrypt-content"><%= t(".encrypted_content") %></label>
                <textarea id="decrypt-content" rows="5"></textarea>
              </div>
              <div class="field">
                <label for="encrypt-content"><%= t(".decrypted_content") %></label>
                <textarea id="encrypt-content" rows="5"></textarea>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <div class="actions">
                <button id="decrypt" class="button expanded"><%= t(".decrypt") %></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
