
<%= decidim_form_for(@form, url: vote_voting_path) do |f| %>
  <%= f.hidden_field :preview, value: true %>
  <%= f.hidden_field :voting_digest %>
  <%= f.hidden_field :voter_id %>
  <%= invisible_captcha %>
  <% if @form.errors[:votes].present? %>
    <div class="card">
      <div class="card__content">
        <div class="help-text help-text-form-required-fields">
          <%= t(".voting_errors") %>
        </div>

        <% @form.errors[:votes].uniq.each do |message| %>
          <small class="form-error is-visible">
            <%= message %>
          </small>
        <% end %>
      </div>
    </div>
  <% end %>

  <% @form.allowed_disabilities.each do |disability| %>
    <%= render partial: "vote_options", locals: {disability: disability} %>
  <% end %>

  <div class="card">
    <div class="card__content">
      <div class="field">
        <%= f.text_field :voting_code %>
        <p class="help-text"><%= t(".voting_code_help") %></p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="actions">
        <%= f.submit t(".preview"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(() => {
      const $form = $("form.new_voter");
      const $legalGuardianFields = $form.find(".legal-guardian-fields");
      const $familyBook = $form.find(".family-book");
      const needsLegalGuardian = () => {
          let birthday_day = parseInt($("#voter_birthday_3i").val());
          let birthday_month = parseInt($("#voter_birthday_2i").val()) - 1;
          let birthday_year = parseInt($("#voter_birthday_1i").val());

          if (birthday_day > 0 && birthday_month >= 0 && birthday_year > 0) {
              let birthday = new Date(birthday_year, birthday_month, birthday_day).getTime();
              let threshold = new Date(2021, 5, 18).getTime();
              let difference = Math.round((threshold - birthday)/(1000*60*60*24*365));

              if (difference < 16) {
                  $legalGuardianFields.show();
                  $familyBook.show();
              } else {
                  $legalGuardianFields.hide();
                  $familyBook.hide();
              }
          } else {
              $legalGuardianFields.hide();
              $familyBook.hide();
          }
      }

      needsLegalGuardian();
      $form.find(".voter-birthday select").on("change", () => {
        needsLegalGuardian();
      });
    })
</script>
