<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-12 large-centered text-center page-title">
        <% if @status == :form %>
          <%
              @title = t('.title')
          %>
        <% elsif @status == :vote %>
          <%
              @title = t('.vote_title')
          %>
        <% elsif @status == :pending %>
          <%
              @title = t('.title')
          %>
        <% elsif @status == :already_voted %>
          <%
              @title = t('.title')
          %>
        <% elsif @status == :not_open %>
          <%
              @title = t('.title')
          %>
        <% end %>
        <h1><%= @title %></h1>
        <h2><%= t('.subtitle') %></h2>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">
        <% if @status == :form %>
          <%= render partial: "verify_form" %>
        <% elsif @status == :vote %>
          <%= render partial: "vote_form" %>
        <% elsif @status == :pending %>
          <p><%= t(".pending_instructions_1_html") %></p>
          <p><%= t(".pending_instructions_2") %></p>
        <% elsif @status == :already_voted %>
          <p><%= t(".already_voted_instructions_1_html") %></p>
          <p><%= t(".already_voted_instructions_2_html") %></p>
        <% elsif @status == :not_open %>
          <p><%= t(".cant_vote_instructions_1_html") %></p>
          <p><%= t(".cant_vote_instructions_2_html") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
