<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".export_votes" %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <% if @export_votes_enabled %>
        <%= link_to t(".export_votes"), tally_export_votes_path, class: "button" %>
      <% else %>
        <%= t(".cant_export_votes_yet") %>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".tally_votes" %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <form id="tally-votes">
        <label for="unencrypted-votes"><%= t(".unencrypted_votes") %></label>
        <textarea id="unencrypted-votes" rows="20"></textarea>
        <div class="button--double form-general-submit">
          <button class="button"><%= t(".perform_tally") %></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card" id="tally-results">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".tally_results" %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <h3>Resum</h3>
      <ul>
        <li id="total-votes">Nombre total de paparetes: <strong>0</strong></li>
        <li id="total-valid-votes">Nombre de paparetes vàlides: <strong>0</strong></li>
        <li id="total-spoiled-votes">Nombre de paparetes anul·lades: <strong>0</strong></li>
      </ul>
    </div>
    <% Decidim::ElectionsCensus::Vote::CANDIDATES.each do |disability, candidates| %>
      <div class="row column">
        <h3><%= t("decidim.elections_census.booth.new.vote_options.voting_title", disability_title: t("decidim.elections_census.booth.new.vote_options.voting_disability_title.#{disability}")) %></h3>
        <ul>
          <% candidates.each do |candidate| %>
            <li id="<%= disability%>-<%= candidate %>"><%= I18n.t(candidate, scope: "candidates.#{disability}") %>: <strong>0</strong></li>
          <% end %>
          <li id="<%= disability %>-blank"><%= I18n.t("candidates.blank") %>: <strong>0</strong></li>
          <li id="<%= disability %>-total">Total: <strong>0</strong></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "decidim/admin/tally.js" %>
